.popup__container {
  min-width: 430px;
  max-height: 330px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

@media all and (min-width: 320px) and (max-width: 540px) {
  .popup__container {
    min-width: 282px;
    max-height: 322px;
    margin: 123px auto;
  }
}