.popup__error-span {
  color: red;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  max-width: 358px;
  height: 30px;
}

.popup__error-span:last-of-type {
  margin-bottom: 0;
}