.profile__button {
  width: 150px;
  height: 50px;
  background-color: #000;
  background-image: url(../../../images/profile__button.png);
  background-position: center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-top: 35px;
  transition: opacity 1s;
}

.profile__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media all and (max-width: 945px){
  .profile__button {
    margin-right: 27px;
  }
}

@media all and (max-width: 708px){
  .profile__button {
    margin-right: 0;
  }
}

@media all and (min-width: 320px) and (max-width: 708px) {
  .profile__button {
    width: calc(100% - 2*19px);;
    max-width: 282px;
    margin-top: 36px;
    background-size: 16px 16px;
  }
}