.popup__text-input {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
  padding: 0;
}