.element__info-like {
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  background-size: 100%;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  background-image: url(../../../images/like.png);
  transition: opacity 1s;
}

.element__info-like:hover {
  opacity: 0.4;
  cursor: pointer;
}