.popup__button_disabled {
  color: #000;
  background-color: #E5E5E5;
  border: 1px solid #000;
  opacity: 0.2;
  cursor: not-allowed;
  transition: none;
}

.popup__button_disabled:hover {
  cursor: not-allowed;
  opacity: 0.2;
}